$breakpoint-mobile: 600px;
$breakpoint-desktop: 1360px;

$page-x-padding-desktop: 120px;
$page-x-padding-mobile: 24px;

$gray-1: #03050f;
$gray-2: #5e6488;
$gray-3: #0a051e;

$white-1: #f8f9ff;

$color-primary-cyan: #00f4e2;
$color-primary-mint: #00ff7f;

$color-primary-violet: #c333ff;
