$breakpoint-mobile: 600px;
$breakpoint-desktop: 1360px;

$page-x-padding-desktop: 120px;
$page-x-padding-mobile: 24px;

$color-gray-1: #03050f;
$color-gray-2: #5e6488;
$color-gray-3: #0a051e;
$color-gray-4: #ccd1ee;

$white-1: #f8f9ff;

$color-primary-cyan: #00f4e2;
$color-primary-mint: #00ff7f;

$color-primary-violet: #c333ff;
$color-primary-aqua: #00f4e2;
