$breakpoint-mobile: 600px;
$breakpoint-desktop: 1360px;

$page-x-padding-desktop: 120px;
$page-x-padding-mobile: 24px;

$color-gray-1: #03050f;
$color-gray-2: #5e6488;
$color-gray-3: #0a051e;
$color-gray-4: #ccd1ee;

$color-white-1: #f8f9ff;

$color-neutral-1: #edeffc;
$color-neutral-2: #7981b2;
$color-neutral-3: #141938;
$color-neutral-4: #a9afd9;
$color-neutral-5: #d7dbf5;

$color-primary-redrimac: #ff1c44;
$color-primary-blueberry: #4f4fff;
$color-primary-lavander: #aeacf359;
$color-primary-cyan: #00f4e2;
$color-primary-mint: #00ff7f;
$color-primary-greenaqua: #7df0ba;
$color-primary-violet: #c333ff;
$color-primary-aqua: #00f4e2;
$color-primary-success: #389e0d;
