@use "../../styles/" as s;

.brand-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include s.padding-y(0.875rem);
  @include s.layout-padding;

  &__logo {
    height: 35px;
    object-fit: contain;
  }

  &__contact {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  &__text {
    margin: 0;
    font-size: 0.75rem;
    line-height: 1rem;
    align-self: self-end;

    &--mobile-hidden {
      @include s.mobile {
        display: none;
      }
    }
  }

  &__phone-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  &__phone-text {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.25rem;
    margin: 0;
    @include s.mobile {
      font-size: 1rem;
    }
  }
}
