@use "../../styles/" as s;

.footer {
  background-color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include s.layout-padding;

  &__image {
    height: 42px;
  }

  &__text {
    color: s.$white-1;
  }
}
